#table-container {
  overflow: auto;
  max-height: 600px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
}

td,
th {
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 5px;
}

th#date {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #f7f7f7;
}

thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

td:nth-child(1) {
  position: sticky;
  left: 0;
  z-index: 998;
  background-color: #f7f7f7;
}

tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}

thead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.table-doc {
  white-space: pre-line;
  margin-top: 1em;
}

.breadcrum {
  margin-bottom: 1em;
}

.table-exports-links {
  float: right;
}
